body {
  padding: 50px 100px;
  background-color: cadetblue;
}

h1 {
  text-align: center;
}

#container {
  text-align: center;
}

#text-box {
  width: 100%;
}

p {
  font-size: 30px;
  font-weight: bolder;
}
